<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>Home Page</title>
    </head>
    <body>
        <div class="container">
            <h1>{{pageTitle}}</h1>
            
            <h3>Enter a location, and you'll see the weathercast</h3>

            <form action="/submit" method="post" style="padding: 1rem 0;">
                <span>Enter address:</span>
                <input type="text" name="address" class="address-area">
                <button type="submit" class="btn">Submit</button>
            </form>


            <div class="block" style="height: 3rem;"></div>
            {{> footer}}
        </div>
    </body>
</html>