<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>Submit Page</title>
    </head>
    <body>
        <div class="container">
            <h1>{{address}}</h1>

            <p>It's currently {{temperature}}C</p>
            <p>But it feels like {{actualTemperature}}C</p>
            <div class="block" style="height: 3rem;"></div>
            {{> footer}}
        </div>
    </body>
</html>